.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}


.image img {
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 15px
}