.App a {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
}
.App a:hover {
  text-decoration: lightblue underline;
  transition: .3s;
}

.App p {
  margin: auto;
  padding: 5px;
  padding-right: 10px;
  bottom: 5px;
  color: white;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-style: bold
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 25px;
  background-color: black;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu .name {
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  font-size: 45px
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}

.login p {
  /* margin-top: 15px; */
  color: black
}