.productCard{
    width: 20%;
    border: 5px lightblue solid;
    margin: auto;
    text-align: center;
    margin: 100px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    
}
.card p{
    color: black;
    padding: 25px;
    display: flex;
    justify-content: center
}
.card img{
    height: 250px;
    width: 250px;
    border-radius: 25px;
    margin: auto;
}